@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

body {
  font-family: "Sora", sans-serif;
}

/* button */
.item-button button {
  margin-top: 20px;
  width: 200px;
  background-color: rgb(0, 21, 41);
  color: white;
}

/* loading */
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.spinner-border {
  height: 100px;
  width: 100px;
}

/* filter */
.filter {
  margin: 20px 0;
  color: rgb(0, 21, 41);
  align-items: center;
  background-color: rgba(0, 21, 41, 0.1);
  border: 1px solid rgba(0, 21, 41, 0.1);
  border-radius: 50px;
  padding: 5px 10px;
  width: auto;
}

.filter h5 {
  margin-left: 10px;
  margin-right: 20px;
  text-decoration: underline;
  font-weight: normal;
  margin-top: 5px;
}

.category {
  padding: 5px 10px !important;
  border: 2px solid rgb(0, 21, 41);
  border-radius: 50px;
  margin: 0 10px;
  cursor: pointer;
}

.category-active {
  /* border: 2px solid rgb(24, 206, 24); */

  background-color: rgb(24, 144, 255);
}

.category h6 {
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 5px;
}

.category img {
  height: 20px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 5px;
}

/* register page */
.register {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.register-form {
  background-color: rgba(0, 21, 41, 0.2);
  padding: 20px;
  box-shadow: rgba(24, 144, 255, 0.35) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  /* rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.register-form Input {
  width: 500px !important;
}

.register-form h1,
.register-form h3 {
  text-align: center;
}

.login-here {
  margin-top: 5px;
}
